.titleCard {
    position: fixed;
    top: 1em;
    right: 6em;
    animation: bobble 8s ease-in-out alternate-reverse infinite;
   
}

.titleCardText {
    font-family: ff-providence-sans-web-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
    color: #E2E2E8;

}

@keyframes bobble {
    0% {
        /* transform: translateX(-50%); */
        transform: scale(1);
        
    }
    100% {
        /* transform: translateX(50%); */
        transform: scale(1.75);
        box-shadow: 2px #91A2BB;
    }
}

