#playerPane {
  text-align: center;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  background: aliceblue; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 27px;
  color: blue;
}