.about-header {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5em;
  color: #e2e2e8;

  position: absolute;
  top: 5rem;
  left: 0; right: 0;
  margin: auto;
  text-align: center;
}