.dedicationCard {
  border: 3px solid black;
  height: 11vh;
  width: 11vh;
  background: aliceblue;
  border-radius: 3px;
  text-align: center;
  font-size: 3em;
}

#condition {
  background: purple;
  border: 3px solid black;
  width: 10vh;
  height: 5vh;
  margin-top: 1vh;
}
