/* if no differentiation needed, make one class  */
.one-allContainer, .three-pairContainer, .four-kindContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.one-all, .three-pair, .four-kind {
    border-radius: 50%;
    border: 1px solid black;
    height: 1vh;
    width: 1vh;
    margin: 2px;
}
