#gameInfo {
  /* border: 3px solid #E2E2E8; */
  border: 10px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-image: url("/assets/greek_wave.png") 32 round;
  height: 50vh;
  width: 20vw;
  /* background: red; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  padding: 3vh 0vh;
  background-color: #CED3E3;
}

.dedicationCardsContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.favorTokensContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.lanternCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1vh;

}
