.dedicationCardsContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

@keyframes bob{
  0% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(3%);
  }
};
