.token {
    border: 3px groove #91A2BB;
    border-radius: 50%;
    overflow: hidden;
    background-color: #E2E2E8;
    transition: transform .2s;
}

.token:hover {
    transform: scale(2);
    box-shadow: 2px #91A2BB;
}

img {
    height: 6vh;
    width: 6vh;
}