.hero-img {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/wave.gif");
  text-align: center;
}

.hero-text {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10em;
  color: #e2e2e8;

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}


/* .center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
} */

.round {
    position: absolute;
    border: 2px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top: 90vh;
    left: 46vw;
}

span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}


.game-login-container {
    height: 75vh;
    width: 75vw;
    margin: auto;
    background-color: #91A2BB;
    border-radius: 5px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join-game, .start-game {
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #E2E2E8;
   padding-top: 20vh;
   border-radius: 10px;
   box-shadow: 1px 1px 100px 1px #101B2A;
}

.join-game h2, .start-game h2 {
    font-family: 'Imprima', sans-serif;
    font-size: 3em;
}

.start-game button {
    border-radius: 10px;
    font-family: 'Imprima', sans-serif;
    width: 5em;
    height: 3em;
    background-color: #DD9933;

}

